@model FLRApplication.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<style>
    .register-bottom-grid div {
        float: none;
    }
</style>

<div class="content">
    <div class="main">
        <div class="container">
            <div class="register">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="register-bottom-grid">
                        <h3>Change Password <i class="fa fa-key"></i></h3>
                        <div class="wow fadeInLeft" data-wow-delay="0.4s">
                            <span class="Input-Label">Old Password<label>*</label></span>
                            @Html.PasswordFor(m => m.OldPassword)
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="wow fadeInRight" data-wow-delay="0.4s">
                            <span class="Input-Label">New Password<label>*</label></span>
                            @Html.PasswordFor(m => m.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                         <div class="wow fadeInRight" data-wow-delay="0.4s">
                            <span class="Input-Label">Confirm Password<label>*</label></span>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="register-but">
                        <input type="submit" value="Change Password">
                        <div class="clearfix"> </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ValidateInput")
}
